##1) COMO LER UM NÚMERO INTEIRO E O IMPRIMIR?

In [62]:
ler_numero = input("Digite um numero inteiro: ")
print(f"O valor inteiro digitado é: {ler_numero}")
#escrever o pedido para digitação é para tornar o programa intuitivo para o usuário, assim como é bom explicar o retorno
#f é para entender que temos uma variável, senão vai imprimir {ler_numero} como texto

Digite um numero inteiro: 10
O valor inteiro digitado é: 10

In [39]:
print(f"O tipo do dado é: {type(ler_numero)}")
#vai dar str porque, por padrão, quando usamos input ele transforma o que você colocou em uma string
#para isso definir o tipo do dado antes do input

O tipo do dado é: <class 'str'>

In [18]:
ler_numero = int(input("Digite um numero inteiro: "))

Digite um numero inteiro: 10

In [21]:
type(ler_numero)

int

**OBS.: Uma outra forma de fazer a leitura é usar o comando de atribuição de variável igual (=). Isso é muito mais usado, pois estamos o tempo todo lidando com vários valores entrando no programa.**

*ler_numero = 10*

##2) COMO LER UM NÚMERO REAL E O IMPRIMIR?

In [25]:
#um numero real é aquele com pontos - será um float
ler_numero_real = float(input("Digite um numero real: "))
print(f"O valor real digitado é: {ler_numero_real}")
type(ler_numero_real)

Digite um numero real: 10.0
O valor real digitado é: 10.0

float

##3) COMO PEDIR AO USUÁRIO PARA DIGITAR QUATRO VALORES INTEIROS E IMPRIMIR A SOMA DELES?

In [28]:
primeiro_valor = int(input("Digite o primeiro valor: "))
segundo_valor = int(input("Digite o primeiro valor: "))
terceiro_valor = int(input("Digite o primeiro valor: "))
quarto_valor = int(input("Digite o primeiro valor: "))

Digite o primeiro valor: 10
Digite o primeiro valor: 10
Digite o primeiro valor: 10
Digite o primeiro valor: 10

**OBS.: lembre-se de criar o hábito de verificar o tipo do dado (type). Será importante para análise exploratória de um conjunto de dados em um projeto.**

In [36]:
soma = primeiro_valor + segundo_valor + terceiro_valor + quarto_valor
print(f"O resultado da soma é: {soma}")

O resultado da soma é: 40

##4) COMO PEDIR AO USUÁRIO PARA DIGITAR UM NÚMERO REAL E IMPRIMIR O RESULTADO DO QUADRADO DESSE NÚMERO?

In [40]:
digita_numero_real = float(input("Digite um número real: "))

Digite um número real: 10.0

In [42]:
numero_real_quadrado = digita_numero_real * digita_numero_real
print(f"O quadrado do valor {digita_numero_real} é: {numero_real_quadrado}")

O quadrado do valor 10.0 é: 100.0

##5) COMO PEDIR AO USUÁRIO PARA DIGITAR UM NÚMERO REAL E IMPRIMIR A SUA QUINTA PARTE DESTE NÚMERO?

In [46]:
#valor x é um número real digitado pelo usuário
x = float(input("Digite um  número real: "))

Digite um  número real: 10.0

In [52]:
recebe_quinta_parte = (x/5)
print (f"A quinta parte de {x} é: {recebe_quinta_parte}")

A quinta parte de 10.0 é: 2.0

##6) COMO LER A TEMPERATURA EM ºC E CONVERTER PARA GRAUS F?

In [53]:
grau_em_celsius = float(input("Digite a temperatura ºC: "))

Digite a temperatura Cº: 27.0

In [57]:
grau_em_fah = grau_em_celsius*(9.0/5.0)+32.0
print(f"A temperatura celsius {grau_em_celsius} convertida em graus fahrenheit é: {grau_em_fah}")

A temperatura celsius 27.0 convertida em graus fahrenheit é: 80.6

##7) COMO LER UM ÂNGULO EM GRAUS E APRESENTÁ-LO EM RADIANOS?

In [58]:
valor_do_angulo = float(input("Digite o valor do ângulo: "))

Digite o valor do ângulo: 100

In [61]:
valor_em_radianos = (valor_do_angulo * (3.14/180))
print(f"O valor do angulo {valor_do_angulo} em radianos é {valor_em_radianos}")

O valor do angulo 100.0 em radianos é 1.7444444444444447

##8) COMO LER TRÊS VALORES E APRESENTÁ-LOS COMO A SOMA DOS QUADRADOS DESSES VALORES LIDOS?

In [64]:
primeiro_valor = int(input("Digite o primeiro valor: "))
segundo_valor = int(input("Digite o primeiro valor: "))
terceiro_valor = int(input("Digite o primeiro valor: "))

Digite o primeiro valor: 10
Digite o primeiro valor: 10
Digite o primeiro valor: 10

In [65]:
quadrado_do_primeiro_valor = primeiro_valor * primeiro_valor 
quadrado_do_segundo_valor = segundo_valor * segundo_valor
quadrado_do_terceiro_valor = terceiro_valor * terceiro_valor

In [67]:
soma = quadrado_do_primeiro_valor + quadrado_do_segundo_valor + quadrado_do_terceiro_valor
print(f"A soma dos quadrados dos três números é: {soma}")

A soma dos quadrados dos três números é: 300

##9) COMO PEDIR AO USUÁRIO QUATRO NOTAS, CALCULAR A MÉDIA ARITMÉTICA E IMPRIMIR O RESULTADO?

In [69]:
primeira_nota = float(input("Digite a primeira nota: "))
segunda_nota = float(input("Digite a primeira nota: "))
terceira_nota = float(input("Digite a primeira nota: "))
quarta_nota = float(input("Digite a primeira nota: "))

Digite a primeira nota: 4.5
Digite a primeira nota: 6.7
Digite a primeira nota: 9
Digite a primeira nota: 10

In [70]:
media_aritmetica = (primeira_nota + segunda_nota + terceira_nota + quarta_nota)/4
print(f"A média das notas é: {media_aritmetica}")

A média das notas é: 7.55

##10) COMO LER UM NÚMERO INTEIRO E IMPRIMIR O SEU ANTECESSOR E O SEU SUCESSOR?

In [71]:
valor_inteiro = int(input("Digite um número inteiro: "))

Digite um número inteiro: 10

In [72]:
sucessor = valor_inteiro + 1
antecessor = valor_inteiro - 1

In [73]:
print(f"O sucessor do número {valor_inteiro} é {sucessor}")
print(f"O antecessor do número {valor_inteiro} é {antecessor}")

O sucessor do número 10 é 11
O antecessor do número 10 é 9

##11) COMO LER UM NÚMERO INTEIRO E IMPRIMIR A SOMA DO SUCESSOR DO SEU TRIPLO COM O ANTECESSOR DO SEU DOBRO?

**OBS.: sempre que algo parecer confuso, anote em um papel e quebre as etapas - vai ajudar!**

**SEQUÊNCIA DE ETAPAS!**

In [74]:
valor_numero_inteiro = int(input("Digite um número inteiro: "))

Digite um número inteiro: 10

In [75]:
triplo = valor_numero_inteiro * 3
dobro = valor_numero_inteiro * 2

In [76]:
print(f"O triplo do número é {triplo}")
print(f"O dobro do número é {dobro}")

O triplo do número é 30
O dobro do número é 20

In [77]:
sucessor_do_triplo = triplo + 1
antecessor_do_dobro = dobro - 1

In [78]:
print(f"O sucessor do número triplo é {sucessor_do_triplo}")
print(f"O antecessor do dobro é {antecessor_do_dobro}")

O sucessor do número triplo é 31
O antecessor do dobro é 19

In [79]:
soma = sucessor_do_triplo + antecessor_do_dobro
print(f"A soma é {soma}")

A soma é 50

##12) COMO LER O TAMANHO DO LADO DE UM QUADRADO E IMPRIMIR COMO RESULTADO SUA ÁREA?

In [81]:
valor_do_lado_do_quadrado = float(input("Digite o valor do lado do quadrado: "))

Digite o valor do lado do quadrado: 10

In [83]:
area_do_quadrado = valor_do_lado_do_quadrado * valor_do_lado_do_quadrado
print(f"O valor da área do quadrado é {area_do_quadrado}")

O valor da área do quadrado é 100.0

##13) COMO LER O VALOR DE UM PRODUTO E IMPRIMIR O VALOR COM DESCONTO DE 12%

In [84]:
valor_do_produto = float(input("Digite o valor do produto: "))

Digite o valor do produto: 10.0

In [86]:
valor_do_desconto = valor_do_produto * (12/100)
print(f"O valor do desconto é: {valor_do_desconto}")

O valor do desconto é: 1.2

In [87]:
valor_final = (valor_do_produto - valor_do_desconto)
print(f"O valor do produto com desconto é: {valor_final}")

O valor do produto com desconto é: 8.8

##14) COMO LER UM SALÁRIO DE UM FUNCIONÁRIO E CALCULAR E IMPRMIR O NOVO SALÁRIO SABENDO QUE ELE RECEBEU UM AUMENTO DE 25%

In [88]:
salario_do_funcionario = float(input("Digite o valor do salário: "))

Digite o valor do salário: 1000

In [92]:
valor_do_aumento = salario_do_funcionario * (25/100)
print(f"O valor do aumento é: {valor_do_aumento}")
salario_final = (salario_do_funcionario + valor_do_aumento)
print(f"O salário com o aumento de 25% é: {salario_final}")

O valor do aumento é: 250.0
O salário com o aumento de 25% é: 1250.0

##15) COMO LER O VALOR DA HORA DE TRABALHO E O NÚMERO DE HORAS TRABALHADAS NO MÊS E IMPRIMIR O VALOR A SER PAGO ADICIONANDO 10% SOBRE O VALOR CALCULADO?

In [93]:
valor_da_hora = float(input("Digite o valor da hora trabalhada: "))
numero_de_horas = float(input("Digite o número de horas trabalhadas: "))

Digite o valor da hora trabalhada: 10
Digite o número de horas trabalhadas: 5

In [94]:
valor_do_trabalho = (valor_da_hora * numero_de_horas)
print(f"O valor do trabalho é: {valor_do_trabalho}")

O valor do trabalho é: 50.0

In [95]:
valor_adicionado = valor_do_trabalho * (10/100)
print(f"O valor adicionado será: {valor_adicionado}")

O valor adicionado será: 5.0

In [96]:
salario_final_do_mes = valor_do_trabalho + valor_adicionado
print(f"O salario final será: {salario_final_do_mes}")

O salario final será: 55.0

##16) COMO CALCULAR O ANO DE NASCIMENTO DE UMA PESSOA A PARTIR DO ANO ATUAL?

In [101]:
idade = int(input("Digite a idade que será feita no ano atual: "))
ano_atual = int(input("Digite o ano atual: "))

Digite a idade que será feita no ano atual: 28
Digite o ano atual: 2023

In [102]:
ano_nascimento = ano_atual - idade
print(f"O ano de nascimento é: {ano_nascimento}")

O ano de nascimento é: 1995

##17) COMO LER AS COORDENADAS X E Y DE PONTOS NO R2 E CALCULAR SUA DISTÂNCIA DA ORIGEM (0,0)

In [103]:
coordenada_x = int(input("Digite a coordenada X: "))
coordenada_y = int(input("Digite a coordenada Y: "))

Digite a coordenada X: 2
Digite a coordenada Y: 4

In [105]:
valor_quadrado_x = coordenada_x * coordenada_x
valor_quadrado_y = coordenada_y * coordenada_y

In [106]:
soma = (valor_quadrado_x * valor_quadrado_y)

In [108]:
#raiz quadrada
import math

raiz_quadrada = math.sqrt(soma)
print(f"O valor é: {raiz_quadrada}")

O valor é: 8.0

##18) COMO RECEBER O SALÁRIO BASE DE UM FUNCIONÁRIO E CALCULAR O SALÁRIO A RECEBER SABENDO QUE ELE TEM UMA GRATIFICAÇÃO DE 5% SOBRE O SALÁRIO BASE? ALÉM DISSO, SAIBA QUE ELE PAGA 7% DE IMPOSTO SOBRE O SALÁRIO BASE.

In [109]:
salario_base = int(input("Digite o valor do salário: "))

Digite o valor do salário: 1000

In [111]:
gratificacao = salario_base * (5/100)
imposto = salario_base * (7/100)
salario_final = (salario_base + gratificacao - imposto)


print(f"O salário final é: {salario_final}")

O salário final é: 980.0